@import "tailwindcss";
@plugin "tailwind-scrollbar";

@theme {
  --color-components-main: var(--color-gray-700);
  --color-subcomponents-main: var(--color-gray-600);
  --color-subcomponents-main-hover: var(--color-gray-500);
  --color-subcomponents-text-main: var(--color-gray-400);
  --color-background-main: var(--color-gray-800);
  --color-approve-button-main: var(--color-blue-500);
  --color-hover-approve-button-main: var(--color-blue-400);
}

@utility no-spinner {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  & {
    -moz-appearance: textfield;
  }
}
