name: Frontend React CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 24.x
      uses: actions/setup-node@v4
      with:
        node-version: 24.x
        cache: 'npm'
        cache-dependency-path: frontend-react/package-lock.json
    - run: npm ci
      working-directory: frontend-react
    - run: npm run lint
      working-directory: frontend-react
    - run: npm run build
      working-directory: frontend-react
